@media screen and (max-width: 767px) {


  /* br-pc
  br-sp */


  .br-pc {
    display: none;
  }
  .br-sp {
    display: block;
  }



.l-body {
  margin: 0;
  list-style: none;
}



/* l-header */


.l-header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding-left: 2%;
  width: 98%;
  background-color: #FFF;
  z-index: 100;
}
.c-header__left {
  margin-top: 10px;
}
.c-header__left--txt {
  /* font-size: 2vw; */
  font-size: 10px;
}
.c-header__left--img {
  /* width: 25vw; */
  width: 95px;
}
.c-header__right--pc {
  display: none;
}
.c-header__right {
  background-color: #DA6B64;
  padding: 10px 10px 0;
  text-decoration: none;
}
.c-header__right--img {
  /* width: 50%; */
  width: 25px;
  margin-left: 11px;
  /* margin-left: 3vw; */
}
.c-header__right--txt {
  margin-top: -8px;
  color: #FFF;
  font-size: 11.5px;
  /* font-size: 3.1vw; */
  /* text-decoration: underline; */
}


/* p-mainTtl */


.p-mainTtl {
  /* padding-top: 200px; */
  z-index: 10;
  position: relative;
  /* background-image: url(img/main.jpg); */
  height: 500px;

  width: 100%;
}
.p-mainTtl__bgImg {
  width: 100%;

}
.p-mainTtl__topTxt {
  position: absolute;
  /* top: 85px;
  left: 75px; */
  top: 20%;
  left: 20%;
  text-align: center;
  font-weight: bold;
  /* font-size: 19px; */
  font-size: 5vw;
}
.p-mainTtl__img {
  position: absolute;
  top: 38%;
  left: 10%;
  /* top: 160px;
  left: 35px; */
  /* top: 30%;
  left: 10%; */
  /* width: 300px; */
  width: 82%;
}
.p-mainTtl__txt {
  position: absolute;
  bottom: 20%;
  left: 14%;
  /* bottom: 82px;
  left: 55px; */
  text-align: center;
  font-size: 4vw;
}


  /* p-info */


.p-info {
  background-color: #EBB94D;
  position: relative;
  margin-top: -55px;
  z-index: 15;
  padding: 15px 0 20px;
}
.p-info__ttl {
  text-align: center;
  color: #FFF;
}
.p-info__ttl--attention {
  text-align: center;
  color: #C7254E;
  font-size: 15px;
  /* font-size: 4vw; */
  font-weight: bold;
  margin-top: 15px;
}
.p-info__ttl--attention-span {
  background-color: #FFF;
}
.p-info__txt--inquiry {
  background-color: #DA6B64;
  color: #FFF;
  text-align: center;
  font-weight: bold;
  border-radius: 50px;
  padding: 17px 30px;
  width: 265px;
  width: 70%;
  margin: 25px auto 0;
  font-size: 17px;
  /* font-size: 5.5vw; */
}
.p-info__txt--deadline {
  padding-left: 0;
  list-style: none;
  color: #FFF;
  text-align: center;
}
.p-info__txt--deadline > li {
  /* width: 325px; */
  width: 88%;
  margin: 25px auto 0;
}
.p-info__txt--deadline > li:first-child {
  /* width: 345px; */
  width: 92%;
}
.p-sns {
  display: flex;
  justify-content: center;
  margin: 25px auto 0;
  padding-left: 0;
  list-style: none;
}
#twitter-widget-0 {
  margin-right: 5px;
}


/* p-announce */


.p-announce {
  position: relative;
  padding-bottom: 85px;
  text-align: center;
  background-image: url(img/introbottom.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
}
.p-announce__ttl--txt {
  position: relative;
  padding: 30px;
  /* font-size: 5vw; */
  font-size: 15px;
  font-weight: bold;
}
.css-br::after,
.css-br__space::after {
  content: "\A" ;
  white-space: pre;
}
.css-br__space {
  display: block;
  margin-top: 20px;
}
.p-announce__ttl:before,
.p-announce__ttl:after {
  content: '';
	width: 25px;
	height: 25px;
	position: absolute;
}
.p-announce__ttl:before {
  border-left: solid 4px #EBB94D;
	border-top: solid 4px #EBB94D;
	top: 24px;
	left: 10px;
}
.p-announce__ttl:after {
  border-right: solid 4px #EBB94D;
	border-bottom: solid 4px #EBB94D;
	top: 100px;
	right: 10px;
}
.p-announce__ttl,
.p-description__ttl {
  font-weight: bold;
  line-height: 45px;
}
 .p-announce__txt {
   margin-top: 20px;
   font-size: 15px;
 }
 .p-announce__txt--span {
   background: linear-gradient(transparent 60%, #EBB94D 0%);
 }
.p-about__btn {
  position: absolute;
  left: 43%;
  bottom: -30px;
  /* padding: 20px 5px; */
  background-color: #EBB94D;
  color: #FFF;
  border-radius: 50%;
}


/* p-description */


.p-description {
  background-color: #FEF5E0;
  padding: 40px 0 60px;
  text-align: center;
}
.p-description__ttl--txt {
  position: relative;
  padding: 40px 30px 20px;
  font-size: 19px;
  font-weight: bold;
}
.p-description__ttl--txt:before,
.p-description__ttl--txt:after {
  content: '';
	width: 25px;
	height: 25px;
	position: absolute;
}
.p-description__ttl--txt:before {
  border-left: solid 4px #EBB94D;
	border-top: solid 4px #EBB94D;
	top: 24px;
	left: 10px;
}
.p-description__ttl--txt:after {
  border-right: solid 4px #EBB94D;
	border-bottom: solid 4px #EBB94D;
	bottom: 0;
	right: 10px;
}
.p-description__inner {
  background-color: #FFF;
  width: 80%;
  margin: 0 auto;
  border: 3px solid #EBB94D;
  border-radius: 5px;
  padding: 10px 0 20px;
}
.p-description__ttl--lead {
  margin: 30px 0;
}
.p-description__inner--ttl-lead > li:nth-child(2n+1) {
  margin-right: 20px;
}
.p-description__inner--ttl-lead > li:last-child {
  margin-right: 0;
}
.p-description__inner--ttl-lead {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  padding-left: 0;
  list-style: none;
}
.p-description__inner--txtTtl {
  margin-bottom: 20px;
}
.p-description__inner--ttl-img {
  height: 30px;
}
.p-description__inner--ttl-txt {
  font-size: 2vw;
  margin: 10px 0;
}


/* p-advanceStep */


.p-advanceStep {
  text-align: center;
  background-image: url(img/aboutsecondbg.jpg);
  background-size: cover;
}
.p-advanceStep__top {
  padding: 40px 0;
}
.p-advanceStep__txt {
  color: #FFF;
  font-weight: bold;
}
.p-advanceStep__txt--img {
  width: 100%;
}
.p-advanceStep__txt--ttl {
  font-weight: bold;
}
.p-advanceStep__txt--freeSkill {
  margin: 15px 0;
  font-size: 12px;
  /* font-size: 3.4vw; */
}
.p-advanceStep__txt--knowledge--span {
  color: #DCAE49;
}
.p-advanceStep__list {
  padding-left: 0;
  list-style: none;
}
.p-advanceStep__list > li {
  width: 70%;
  padding: 16px 30px;
  margin: 20px auto 0;
  background-color: #FFF;
  border-radius: 5px;
}
.p-advanceStep__list-step {
  width: 85%;
  margin: auto;
  background-color: #EBB94D;
  color: #FFF;
  border-radius: 5px;
  font-weight: bold;
  font-size: 13px;
  /* font-size: 3.5vw; */
}
.p-advanceStep__list-txtTop {
  margin-top: 15px;
  /* font-size: 3.3vw; */
  font-size: 12px;
  font-weight: bold;
}
.p-advanceStep__list-txtBottom {
  margin-top: 10px;
  font-size: 12px;
  /* font-size: 3.3vw; */
  font-weight: bold;
}
.p-advanceStep__sidebar {
  background-color: #016EA9;
  padding: 20px 0;
}
.p-advanceStep__sidebar--txt {
  color: #FFF;
  font-size: 12px;
  font-weight: bold;
}


/* p-learn */


.p-learn {
  text-align: center;
  padding: 50px 0 30px;
}
.p-learn__txtTtl {
font-weight: bold;
}
.p-learn__ttl--txt {
  margin-top: 30px;
  font-size: 15px;
}
.p-learn__skill {
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
}
.p-learn__skill > li {
  margin-left: 10px;
}
.p-learn__skill > li:first-child {
  margin-left: 0;
}
.p-learn__skill--img {
  width: 60px;
  margin: 10px 0;
}


/* p-merit */


.p-merit {
  background-color: #FEF5E0;
  text-align: center;
  padding: 10px 0 40px;
  margin: auto;
  display: block;
}
.p-merit__ttl {
  position: relative;
  padding: 30px;
  font-size: 19px;
  /* font-size: 5vw; */
}
.p-merit__topTtl {
  font-size: 18px;
}
.p-merit__ttl:before,
.p-merit__ttl:after {
  content: '';
	width: 25px;
	height: 25px;
	position: absolute;
}
.p-merit__ttl:before {
  border-left: solid 4px #EBB94D;
	border-top: solid 4px #EBB94D;
	top: 24px;
	left: 10px;
}
.p-merit__ttl:after {
  border-right: solid 4px #EBB94D;
	border-bottom: solid 4px #EBB94D;
	bottom: 20px;
	right: 10px;
}
.p-merit__ttl--txt {
  margin-top: 15px;
  font-weight: bold;
  font-size: 18px;
  /* font-size: 4.8vw; */
}
.p-merit__list {
  padding-left: 0;
  list-style: none;
}
.p-merit__list > li {
  padding: 5px 20px 10px;
}
.p-merit__list--img {
  width: 80%;
  /* height: 100px; */
  /* width: 325px;
  height: 120px; */
}
.p-merit__list--ttl {
  color: #EBB94D;
  margin: 10px 0;
}
.p-merit__list--txt {
  padding: 0 22px;
  text-align: left;
  display: inline-block;
  font-size: 13px;
  /* font-size: 3.5vw; */
}
.p-merit__contents {
  background-color: #FFF;
  border: 2px solid #F0CA76;
  border-radius: 5px;
  width: 85%;
  margin: auto;
  padding: 15px 10px;
}
.p-merit__contents--ttl {
  color: #EBB94D;
  font-weight: bold;
  font-size: 19px;
  /* font-size: 5vw; */
}
.p-merit__contents--txt {
  margin: 15px 10px;
}
.p-merit__contents--supplement {
  font-size: 10px;
  /* font-size: 1vw; */
}
.p-merit__txt {
  margin: 15px 20px;
  font-size: 11px;
  /* font-size: 3vw; */
}


/* p-schoolMember */


.p-schoolMember {
  background-image: url(img/teacherbg.jpg);
  background-size: cover;
  text-align: center;
  color: #FFF;
  padding: 50px 0 15px;
}
.p-schoolMember__topTxt--ttl {
  font-size: 18px;
  /* font-size: 4.8vw; */
  font-weight: bold;
}
.p-schoolMember__topTxt--contents {
  margin-top: 30px;
  font-size: 13px;
  /* font-size: 3.5vw; */
}
.p-schoolMember__profile {
  padding-left: 0;
  list-style: none;
}
.p-schoolMember__profile > li {
  border: 3px solid #FFF;
  width: 84%;
  margin: 100px auto 0;
  padding: 40px 10px 20px;
  position: relative;
  font-size: 13px;
  /* font-size: 3.5vw; */
}
.p-schoolMember__profile--img {
  position: absolute;
  /* top: -36%; */
  top: -87px;
  left: 50%;
  transform: translateX(-50%);
  /* left: 115px; */
  width: 125px;
  /* width: 30%; */
  border-radius: 50%;
}
.p-schoolMember__profile--name {
  margin: 10px 0;
}
.p-schoolMember__profile--txt {
  text-align: left;
	/* display: inline-block; */
}
.p-schoolMember__profile--txt-supplement {
  margin-top: 20px;
}


/* p-question */


.p-question {
  position: relative;
  padding-top: 20px;
  background-color: #EBB94D;
  text-align: center;
}
.p-question__logo {
  background-color: #FFF;
  color: #EBB94D;
  width: 57px;
  /* width: 15%; */
  height: 55px;
  border-radius: 50%;
  margin: auto;
  line-height: 55px;
  margin-bottom: 30px;
}
.p-question__logo--ttl {
  position: relative;
  padding: 0 30px 30px;
  color: #FFF;
  line-height: 40px;
  font-size: 12px;
  /* font-size: 4vw; */
}
.p-question__logo--ttl:before,
.p-question__logo--ttl:after {
  content: '';
	width: 25px;
	height: 25px;
	position: absolute;
}
.p-question__logo--ttl:before {
  border-left: solid 4px #FFF;
	border-top: solid 4px #FFF;
	top: -8px;
	left: 10px;
}
.p-question__logo--ttl:after {
  border-right: solid 4px #FFF;
	border-bottom: solid 4px #FFF;
	bottom: 20px;
	right: 10px;
}
.triangle{
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  border-top: 15px solid #EBB94D;
  border-right: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid transparent;
}


/* p-answer */
/* p-answerTop */


.p-answer {
  text-align: center;
}
.p-answerTop {
  padding: 30px 0;
}
.p-answer__inner {
  padding-left: 0;
}
.p-answerTop__ttl {
  font-weight: bold;
  font-size: 20px;
  /* font-size: 5vw; */
}
.p-answerTop__evidence {
  margin: 15px 0 35px;
  font-weight: bold;
  font-size: 13px;
  /* font-size: 3.5vw; */
}
.p-answerTop__txt {
  font-size: 11px;
  /* font-size: 3vw; */
}


/* p-answer__inner */


.p-answer__inner > li {
  display: flex;
  margin-bottom: 45px;
}
.p-answer__photo-left--img {
  width: 25%;
  height: 10%;
  margin: 0 20px 0 10px;
  border: 3px solid #E4B656;
}
.p-answer__txt-right {
  text-align: left;
  opacity: 0.5;
}
.p-answer__txt-right--txt {
  margin-top: -5px;
  font-size: 16px;
  /* font-size: 3.7vw; */
}
.p-answer__txt-right--president {
  margin-top: 10px;
  text-decoration: underline;
  font-size: 14.7px;
  /* font-size: 3.5vw; */
}


/* p-learnContents */


.p-learnContents__mainContents {
  padding: 50px 0 30px;
  text-align: center;
  background-image: url(img/classbg.jpg);
  background-size: cover;
}
.p-learnContents__top {
  color: #FFF;
}
.p-learnContents__top--ttl {
  font-weight: bold;
  font-size: 19px;
  /* font-size: 5vw; */
}
.p-learnContents__top--txt {
  margin: 20px 0 30px;
  font-size: 12px;
  /* font-size: 3.5vw; */
}


/* p-learnContents__center */


.p-learnContents__center {
  width: 95%;
  margin: auto;
}
.p-learnContents__center-left > li,
.p-learnContents__center-right > li {
  padding: 10px 0;
}
.p-learnContents__center-left {
  border: 2px solid #016EA9;
  border-radius: 5px;
  padding-left: 0;
  list-style: none;
}
.p-learnContents__center-right {
  margin-top: 20px;
  border: 2px solid #016EA9;
  border-radius: 5px;
  padding-left: 0;
  list-style: none;
}
.p-learnContents__center-left > li:last-child,
.p-learnContents__center-right > li:last-child {
  border-radius: 0 0 4px 4px;
}
.p-learnContents__center-left--ttl,
.p-learnContents__center-right--ttl {
  background-color: #016EA9;
  color: #FFF;
  border-radius: 4px 4px 0 0;
}
.p-learnContents__center-left--txt,
.p-learnContents__center-right--txt {
  background-color: #FFF;
  font-size: 13px;
  /* font-size: 3.5vw; */
  font-weight: bold;
}


/* p-learnContents__bottom */


.p-learnContents__bottom {
  padding: 20px 0;
  background-color: #016EA9;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  font-size: 13px;
}


/* p-attending */


.p-attending {
  padding: 50px 0 60px;
}
.p-attending__ttl--txt {
  margin-bottom: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  /* font-size: 4.8vw; */
}
.p-attending__ttl--img {
  display: none;
}
.p-attending__contents-list {
  padding-left: 0;
  list-style: none;
}
.p-attending__contents-list > li {
  width: 86%;
  margin: 10px auto 0;
  padding: 10px;
  background-color: #FEF5E0;
}
.p-attending__contents-left {
  display: flex;
}
.p-attending__contents-left--img {
  width: 35px;
  height: 35px;
  margin-right: 15px;
}
.p-attending__contents-left--txt {
  font-weight: bold;
  line-height: 34px;
  font-size: 15px;
}
.p-attending__contents-right {
  display: none;
  padding: 25px 0 15px;
}
.p-attending__contents-right__ttl {
  font-size: 13px;
  /* font-size: 3.4vw; */
  font-weight: bold;
}
.p-attending__contents-right__ttl-supplement {
  margin: 20px 0;
  font-size: 13px;
  /* font-size: 3.3vw; */
  font-weight: bold;
}
.p-attending__contents-right__txt {
  font-size: 11px;
  /* font-size: 3vw; */
}
.p-attending__contents-right__txt-contents {
  margin: 20px 0;
  font-size: 13px;
  /* font-size: 3.3vw; */
}
.p-attending__contents-right__txt-supplement {
  font-size: 13px;
  /* font-size: 3.4vw; */
  font-weight: bold;
}
.p-attending__contents-right__support {
  margin-top: 10px;
  font-size: 13px;
  /* font-size: 3.4vw; */
  font-weight: bold;
}
.p-attending__contents-right__attention {
  margin-top: 15px;
  font-size: 13px;
  /* font-size: 3.5vw; */
}
.p-attending__contents--img {
  display: none;
}


/* p-place */


.p-place__bg {
  background-image: url(img/bangkokbg.jpg);
  background-size: cover;
}
.p-place {
  width: 80%;
  margin: auto;
  padding: 40px 0;
  color: #FFF;
}
.p-place__ttl {
  text-align: center;
  font-weight: bold;
  font-size: 23px;
  /* font-size: 6vw; */
}
.p-place__ttl--txt {
  margin-top: 20px;
  font-size: 12px;
  /* font-size: 3.4vw; */
}
.p-place__merit-list {
  padding-left: 0;
  list-style: none;
}
.p-place__merit-list > li {
  margin-top: 20px;
  font-size: 13px;
  /* font-size: 3.4vw; */
  font-weight: bold;
}
.p-place__merit-txt {
  margin-top: 20px;
  font-weight: bold;
}


/* p-benefit */


.p-benefit {
  padding: 25px 0;
  text-align: center;
  background-color: #F7C23C;
}
.p-benefit__ttl {
  font-weight: bold;
  font-size: 18px;
  /* font-size: 4.8vw; */
}
.p-benefit__ttl--txt {
  margin-top: 20px;
  font-size: 14px;
}
.p-benefit__ttl--span {
  color: #FFF;
  font-weight: bold;
}
.p-benefit__merit-list {
  position: relative;
  width: 70%;
  padding: 20px 40px 60px;
  margin: 70px auto 0;
  border: 2px solid #FFF;
  list-style: none;
}
.p-benefit__merit-listTop {
  width: 210px;
  position: absolute;
  top: -28px;
  /* left: 65px; */
  left: 50%;
  transform: translateX(-50%);
  background-color: #F7C23C;
  font-weight: bold;
  font-size: 19px;
  /* font-size: 5vw; */
}
.p-benefit__merit-list > li {
  /* display: flex; */
  margin-top: 50px;
}
.p-benefit__merit-list--ttl {
  width: 58px;
  height: 55px;
  /* font-size: 3.5vw; */
  margin-right: 19px;
  font-size: 13px;
  line-height: 58px;
  background-color: #FFF;
  border-radius: 50%;
  color: #F7C23C;
}
.p-benefit__merit-list--ttl-top {
  /* width: 133px; */
  float: left;
}
.p-benefit__merit-list--ttl-center {
  /* width: 113px; */
  float: left;
}
.p-benefit__merit-list--ttl-bottom {
  /* width: 103px; */
  float: left;
}
.p-benefit__merit-list--txt-sp {
  /* margin-top: 7px; */
  color: #FFF;
  text-align: left;
  /* font-size: 3.5vw; */
  font-size: 13px;
}
.p-benefit__merit-list--txt-pc {
  display: none;
}


/* p-noVolunteer */


.p-noVolunteer {
  padding: 50px 0;
  color: #FFF;
  text-align: center;
  background-image: url(img/specialdetail.jpg);
  background-size: cover;
}
.p-noVolunteer__ttl {
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 19px;
  /* font-size: 5vw; */
}
.p-noVolunteer__mainTtl {
  position: relative;
  padding: 40px 0;
  font-weight: bold;
  font-size: 19px;
  /* font-size: 5vw; */
  line-height: 40px;
}
.p-noVolunteer__mainTtl:before,
.p-noVolunteer__mainTtl:after {
  content: '';
	width: 25px;
	height: 25px;
	position: absolute;
}
.p-noVolunteer__mainTtl:before {
  border-left: solid 4px #FFF;
	border-top: solid 4px #FFF;
	top: 30px;
	left: 20px;
}
.p-noVolunteer__mainTtl:after {
  border-right: solid 4px #FFF;
	border-bottom: solid 4px #FFF;
	bottom: 25px;
	right: 20px;
}
.p-noVolunteer__ttl--txt,
.p-noVolunteer__mainTtl--txt {
  /* font-size: 3.5vw; */
  font-size: 11px;
  font-weight: bold;
}


/* p-message */


.p-messageTop {
  text-align: center;
  padding: 40px 0 10px;
}
.p-messageTop__ttl {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 18px;
  /* font-size: 4.7vw; */
}
.p-messageBottom {
  padding: 10px 15px 30px;
  /* font-size: 16px; */
  /* font-size: 4vw; */
}
.p-messageBottom__ttl {
  font-size: 16px;
}
.p-messageBottom__left--img {
  width: 100%;
}
.p-messageBottom__txt {
  margin-top: 20px;
  font-size: 15.5px;
}
.p-messageBottom__list {
  margin-top: 20px;
  padding-left: 0;
  list-style: none;
}
.p-messageBottom__list > li {
  font-size: 15.5px;
}


/* c-claim */


.c-claim {
  padding: 40px 0;
  background-color: #EBB94D;
}
.c-claim__ttl,
.c-claim__txt {
  text-align: center;
}
.c-claim__ttl {
  font-weight: bold;
  font-size: 18px;
  /* font-size: 4.8vw; */
}
.c-claim__txt {
  margin: 30px 0;
  font-weight: bold;
  /* font-size: 3.5vw; */
  font-size: 13px;
}
.c-claim__txt--form {
  text-align: center;
}
.c-claim__inputTxt {
  margin-top: 20px;
}
.c-claim__input {
  width: 90%;
  padding: 15px 0;
  border-radius: 5px;
  border: none;
}
.c-claim__inputTxt--coment {
  width: 90%;
  margin: 40px auto;
  border-radius: 10px;
}
.c-claim__inputTxt--coment-txtarea {
  width: 100%;
  height: 95px;
  border-radius: 5px;
  border: none;
}
textarea::-webkit-input-placeholder {
  font-size: 15px;
}
.c-claim__txtButton {
  width: 90%;
  height: 55px;
  margin: auto;
  border-radius: 30px;
  background-color: #DA6B64;
  color: #FFF;
  line-height: 56px;
  font-size: 23px;
  /* font-size: 6vw; */
  font-weight: bold;
  letter-spacing:1em;
  text-align:center;
  text-indent:1em;
}


/* p-lastQuestion */


.p-lastQuestion {
  padding: 40px 0;
}
.p-lastQuestion__ttl {
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 19px;
  /* font-size: 5vw; */
}
.p-lastQuestion__list {
  padding-left: 0;
  list-style: none;
}
.p-lastQuestion__list > li {
  position: relative;
  width: 80%;
  padding: 10px 36px 10px 10px;
  margin: 10px auto 0;
  border: 4px solid #EFEFEF;
  font-weight: bold;
  font-size: 14px;
}
.fa-question-circle {
  color: #016EA9;
}
.toggle::after {
  position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -14px;
    content: '>';
    /* font-size: 14px; */
    font-weight: bold;
    color: #E5E5E5;
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -moz-transition: all, 0.25s, linear;
    -o-transition: all, 0.25s, linear;
    -webkit-transition: all, 0.25s, linear;
    transition: all, 0.25s, linear;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -20px;
    margin: auto 0;
    height: 16px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto 0;
    height: 16px;
}
/* .toggle.active:after {
    -moz-transform: translate(0, 50%);
    -ms-transform: translate(0, 50%);
    -webkit-transform: translate(0, 50%);
    transform: translate(0, 50%);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
} */
.toggle {
  /* position: relative; */
}
.inner {
  display: none;
  margin: 20px 0;
  font-size: 12px;
  /* font-size: 3.3vw; */
}


/* footer */


.p-copyRight {
  padding: 20px 0 10px;
  background-color: #ECECEC;
  text-align: center;
}
.p-copyRight__top,
.p-copyRight__bottom {
  font-size: 11px;
  /* font-size: 3vw; */
}
.p-footer__sns {
  display: flex;
  justify-content: center;
  margin: 15px 0 25px;
  padding-left: 0;
  list-style: none;
}
.p-copyRight--span {
  color: #6A9CC7;
}
.p-return__btn::after {
  position: fixed;
  bottom: 25px;
  right: 15px;
  padding: 15px 20px;
  background-color: #ECECEC;
  content: '>';
  font-weight: bold;
  color: #000;
  transform: rotate(-90deg);
}
}




/* @media only screen and (max-width: 1190px) and (min-width: 768px) { */
@media screen and (min-width: 768px) {


/* br-pc
br-sp */


.br-pc {
  display: block;
}
.br-sp {
  display: none;
}


.l-body {
  margin: 0;
  list-style: none;
}



/* l-header */


.l-header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px 2% 20px 1%;
  width: 97%;
  background-color: #FFF;
  z-index: 100;
}
.c-header__left {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}
.c-header__left--txt {
  margin-left: 10px;
  font-size: 1vw;
  font-weight: bold;
}
.c-header__left--img {
  width: 125px;
  height: 50px;
}
.c-header__right--pc {
  padding: 10px 10px 0;
  height: 35px;
  background-color: #DA6B64;
  border-radius: 25px;
  color: #FFF;
  text-decoration: none;
}
.c-header__right-txt--pc {
  margin: 0;
}
.c-header__right {
  display: none;
}


/* p-mainTtl */


.p-mainTtl {
  margin-top: -20px;
  background-image: url(img/mainsp.jpg);
  /* background-repeat: no-repeat;
  background-size: contain; */
  background-size: 100%;
  height: 300px;
  text-align: center;
  padding: 200px 0 100px;
}
.p-mainTtl__bgImg {
  display: none;
}
.p-mainTtl__topTxt {
  font-weight: bold;
  font-size: 30px;
  line-height: 60px;
}
.p-mainTtl__img {
  width: 300px;
}
.p-mainTtl__txt {
  margin-top: 30px;
  font-weight: bold;
  font-size: 20px;
}


/* p-info */


.p-info {
  padding: 30px 0;
  background-color: #EBB94D;
  text-align: center;
}
.p-info__ttl {
  color: #FFF;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 5px;
}
.p-info__ttl--attention {
  width: 515px;
  /* width: 39%; */
  margin: 15px auto 40px;
  background-color: #FFF;
  border-radius: 2px;
  color: #C7254E;
  font-size: 20px;
}
.p-info__txt--inquiry {
  background-color: #DA6B64;
  color: #FFF;
  text-align: center;
  font-weight: bold;
  border-radius: 60px;
  padding: 35px 35px;
  width: 70%;
  margin: 25px auto 0;
  font-size: 28px;
}
.p-info__txt--deadline {
  margin-top: 70px;
  color: #FFF;
  text-align: center;
  list-style: none;
}
.p-info__txt--deadline > li {
  margin-top: 25px;
  font-weight: bold;
  font-size: 24px;
}
.p-info__txt--deadline-span {
  margin-left: 25px;
}
.p-sns {
  display: flex;
  justify-content: center;
  margin: 25px auto 0;
  list-style: none;
}
#twitter-widget-0 {
  margin-right: 5px;
}


/* p-announce */


.p-announce {
  position: relative;
  padding: 40px 0 185px;
  text-align: center;
  background-image: url(img/introbottom.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center bottom;
}
.p-announce__ttl {
  width: 70%;
  margin: auto;
}
.p-announce__ttl--txt {
  position: relative;
  padding: 30px 0;
  font-size: 2.3vw;
  font-weight: bold;
}
.p-announce__ttl--txt:before,
.p-announce__ttl--txt:after {
  content: '';
	width: 50px;
	height: 50px;
	position: absolute;
}
.p-announce__ttl--txt:before {
  border-left: solid 4px #EBB94D;
	border-top: solid 4px #EBB94D;
	top: 0;
	left: 0;
}
.p-announce__ttl--txt:after {
  border-right: solid 4px #EBB94D;
	border-bottom: solid 4px #EBB94D;
	bottom: 0;
	right: 0;
}
.p-announce__ttl,
.p-description__ttl {
  font-weight: bold;
  line-height: 45px;
}
 .p-announce__txt {
   margin-top: 20px;
   font-size: 19px;
   opacity: 0.8;
 }
 .p-announce__txt--span {
   background: linear-gradient(transparent 60%, #EBB94D 0%);
   font-weight: bold;
 }
.p-about__btn {
  position: absolute;
  left: 47%;
  bottom: -30px;
  padding: 25px 11px;
  background-color: #EBB94D;
  color: #FFF;
  border-radius: 50%;
  font-size: 15px;
}


/* p-description */


.p-description {
  background-color: #FEF5E0;
  padding: 40px 0 60px;
  text-align: center;
}
.p-description__ttl {
  width: 70%;
  margin: auto;
}
.p-description__ttl--txt {
  position: relative;
  padding: 30px 0;
  font-size: 2.3vw;
  font-weight: bold;
}
.p-description__ttl--txt:before,
.p-description__ttl--txt:after {
  content: '';
	width: 50px;
	height: 50px;
	position: absolute;
}
.p-description__ttl--txt:before {
  border-left: solid 4px #EBB94D;
	border-top: solid 4px #EBB94D;
	top: 0;
	left: 0;
}
.p-description__ttl--txt:after {
  border-right: solid 4px #EBB94D;
	border-bottom: solid 4px #EBB94D;
	bottom: 0;
	right: 0;
}
.p-description__inner {
  background-color: #FFF;
  width: 86%;
  margin: 0 auto;
  border: 3px solid #EBB94D;
  border-radius: 5px;
  padding: 30px 0 40px;
}
.p-description__ttl--lead {
  margin: 30px 0;
  font-weight: bold;
  font-size: 22px;
}
.p-description__inner--ttl-lead > li {
  margin-right: 40px;
}
.p-description__inner--ttl-lead > li:nth-child(2) {
  margin-top: -10px;
}
.p-description__inner--ttl-lead > li:last-child {
  margin-right: 0;
}
.p-description__inner--ttl-lead {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
  list-style: none;
}
.p-description__inner--txtTtl {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 20px;
}
.p-description__inner--ttl-txt {
  font-size: 12px;
  margin: 10px 0;
}


/* p-advanceStep */


.p-advanceStep {
  text-align: center;
  background-image: url(img/aboutsecondbg.jpg);
  background-size: cover;
}
.p-advanceStep__top {
  padding: 50px 0 40px;
}
.p-advanceStep__txt {
  color: #FFF;
  font-weight: bold;
}
.p-advanceStep__txt--img {
  width: 100%;
}
.p-advanceStep__txt--ttl {
  font-weight: bold;
  font-size: 30px;
}
.p-advanceStep__txt--freeSkill {
  margin: 20px 0;
  font-size: 20px;
}
.p-advanceStep__txt--knowledge {
  font-size: 20px;
}
.p-advanceStep__txt--knowledge--span {
  color: #DCAE49;
}
.p-advanceStep__list {
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
}
.p-advanceStep__list > li {
  width: 300px;
  padding: 30px;
  margin-top: 30px;
  background-color: #FFF;
  border-radius: 5px;
}
.p-advanceStep__list > li:first-child {
  margin-left: 0;
}
.p-advanceStep__list > li:nth-child(n+2) {
  margin-left: 20px;
}
.p-advanceStep__list-step {
  margin: auto;
  background-color: #EBB94D;
  color: #FFF;
  border-radius: 5px;
  font-weight: bold;
}
.p-advanceStep__list-txtTop {
  margin-top: 20px;
  font-size: 15px;
}
.p-advanceStep__list-txtBottom {
  margin-top: 10px;
  font-weight: bold;
}
.p-advanceStep__sidebar {
  background-color: #016EA9;
  padding: 40px 0;
  font-weight: bold;
}
.p-advanceStep__sidebar--txt {
  color: #FFF;
  font-size: 20px;
}


/* p-learn */


.p-learn {
  text-align: center;
  padding: 60px 0 50px;
}
.p-learn__txtTtl {
font-weight: bold;
font-size: 28px;
}
.p-learn__ttl--txt {
  margin: 30px 0;
  font-size: 21px;
}
.p-learn__skill {
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
}
.p-learn__skill > li {
  margin-left: 30px;
}
.p-learn__skill > li:first-child {
  margin-left: 0;
}
.p-learn__skill--img {
  width: 90%;
  /* width: 180px; */
  margin: 10px auto;
}
.p-learn__isara {
  margin-top: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}


/* p-merit */


.p-merit {
  background-color: #FEF5E0;
  text-align: center;
  padding: 40px 0;
  /* margin: auto; */
  /* display: block; */
}
.p-merit__ttl {
  position: relative;
  width: 60%;
  padding: 30px;
  margin: auto;
  font-weight: bold;
}
.p-merit__topTtl {
  font-weight: bold;
  font-size: 20px;
}
.p-merit__ttl:before,
.p-merit__ttl:after {
  position: absolute;
  content: '';
	width: 50px;
	height: 50px;
}
.p-merit__ttl:before {
  border-left: solid 4px #EBB94D;
	border-top: solid 4px #EBB94D;
	top: 0;
	left: 0;
}
.p-merit__ttl:after {
  border-right: solid 4px #EBB94D;
	border-bottom: solid 4px #EBB94D;
	bottom: 0;
	right: 0;
}
.p-merit__topTtl--txt {
  padding: 20px 0;
  font-weight: bold;
  font-size: 20px;
}
.p-merit__ttl--txt {
  font-weight: bold;
  font-size: 30px;
}
.p-merit__list {
  display: flex;
  justify-content: center;
  margin: 40px 0;
  padding-left: 0;
  list-style: none;
}
.p-merit__list > li {
  padding: 5px 15px 10px;
  text-align: left;
}
.p-merit__list--img {
  width: 100%;
  /* height: 180px; */
}
.p-merit__list--ttl {
  margin: 5px 0 10px;
  font-weight: bold;
  font-size: 20px;
  color: #EBB94D;
}
.p-merit__list--txt {
  /* width: 330px; */
  /* width: 35%; */
}
.p-merit__contents {
  background-color: #FFF;
  border: 2px solid #F0CA76;
  border-radius: 5px;
  width: 85%;
  margin: auto;
  padding: 40px 10px 40px;
}
.p-merit__contents--ttl {
  color: #EBB94D;
  font-weight: bold;
  font-size: 28px;
}
.p-merit__contents--txt {
  margin: 15px 0;
  font-weight: bold;
  font-size: 20px;
}
.p-merit__contents--supplement {
  font-weight: bold;
}
.css-br__merit::after {
  content: "\A" ;
  white-space: pre;
}
.p-merit__txt {
  margin-top: 40px;
}


/* p-schoolMember */


.p-schoolMember {
  background-image: url(img/teacherbg.jpg);
  background-size: 100%;
  text-align: center;
  color: #FFF;
  padding: 50px 0 15px;
}
.p-schoolMember__topTxt--ttl {
  font-size: 30px;
  font-weight: bold;
}
.p-schoolMember__topTxt--contents {
  margin-top: 30px;
  font-weight: bold;
}
.p-schoolMember__profile {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 78%;
  margin: auto;
  padding-left: 0;
  list-style: none;
}
.p-schoolMember__profile > li {
  border: 3px solid #FFF;
  margin: 200px 15px 0;
  padding: 50px 40px;
  position: relative;
}
.p-schoolMember__profile--img {
  position: absolute;
  top: -160px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  border-radius: 50%;
}
.p-schoolMember__profile--name {
  margin: 10px 0;
}
.p-schoolMember__profile--txt {
  text-align: left;
}
.p-schoolMember__profile--txt-supplement {
  margin-top: 25px;
}


/* p-question */


.p-question {
  position: relative;
  padding: 40px 0 20px;
  background-color: #EBB94D;
  text-align: center;
}
.p-question__logo {
  background-color: #FFF;
  color: #EBB94D;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: auto;
  line-height: 80px;
  margin-bottom: 30px;
}
.p-question__logo--ttl {
  position: relative;
  padding: 20px 30px 30px;
  width: 60%;
  margin: auto;
  color: #FFF;
  line-height: 40px;
  font-size: 2.1vw;
  font-weight: bold;
}
.p-question__logo--ttl:before,
.p-question__logo--ttl:after {
  content: '';
	width: 50px;
	height: 50px;
	position: absolute;
}
.p-question__logo--ttl:before {
  border-left: solid 4px #FFF;
	border-top: solid 4px #FFF;
	top: 0;
	left: 0;
}
.p-question__logo--ttl:after {
  border-right: solid 4px #FFF;
	border-bottom: solid 4px #FFF;
	bottom: 0;
	right: 0;
}
.triangle{
  position: absolute;
  bottom: -50px;
  left: 48%;
  border-top: 25px solid #EBB94D;
  border-right: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid transparent;
}


/* p-answer */
/* p-answerTop */


.p-answer {
  text-align: center;
}
.p-answerTop {
  padding: 30px 0;
}
.p-answerTop__ttl {
  font-weight: bold;
  font-size: 30px;
}
.p-answerTop__evidence {
  margin: 15px 0 35px;
  font-weight: bold;
  opacity: 0.8;
}
.p-answerTop__txt {
  /* font-size: 3vw; */
}


/* p-answer__inner */


.p-answer__inner > li {
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
}
.p-answer__photo-left--img {
  width: 250px;
  height: 250px;
  margin: 0 20px 0 10px;
  border: 3px solid #E4B656;
}
.p-answer__txt-right {
  margin-top: 30px;
  text-align: left;
  opacity: 0.5;
}
.p-answer__txt-right--txt {
  margin-top: -5px;
  font-size: 20px;
}
.p-answer__txt-right--president {
  margin-top: 10px;
  text-decoration: underline;
  /* font-size: 3.5vw; */
}


/* p-learnContents */


.p-learnContents__mainContents {
  padding: 50px 0 70px;
  text-align: center;
  background-image: url(img/classbg.jpg);
  background-size: 100%;
}
.p-learnContents__top {
  color: #FFF;
}
.p-learnContents__top--ttl {
  font-weight: bold;
  font-size: 30px;
}
.p-learnContents__top--txt {
  margin: 10px 0 50px;
  font-weight: bold;
}


/* p-learnContents__center */


.p-learnContents__center {
  display: flex;
  justify-content: space-around;
  justify-content: center;
}
.p-learnContents__center-left > li,
.p-learnContents__center-right > li {
  padding: 15px 0;
}
.p-learnContents__center-left {
  border: 2px solid #016EA9;
  border-radius: 5px;
  width: 30%;
  padding-left: 0;
  list-style: none;
}
.p-learnContents__center-right {
  margin-left: 30px;
  border: 2px solid #016EA9;
  border-radius: 5px;
  width: 30%;
  height: 308px;
  padding-left: 0;
  list-style: none;
}
.p-learnContents__center-left > li:last-child,
.p-learnContents__center-right > li:last-child {
  border-radius: 0 0 4px 4px;
}
.p-learnContents__center-left--ttl,
.p-learnContents__center-right--ttl {
  background-color: #016EA9;
  color: #FFF;
  border-radius: 4px 4px 0 0;
  font-weight: bold;
  font-size: 20px;
}
.p-learnContents__center-left--txt,
.p-learnContents__center-right--txt {
  background-color: #FFF;
  font-weight: bold;
}


/* p-learnContents__bottom */


.p-learnContents__bottom {
  padding: 40px 0;
  background-color: #016EA9;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  font-size: 20px;
}


/* p-attending */


.p-attending {
  padding: 50px 0 60px;
  text-align: center;
}
.p-attending__ttl--txt {
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 28px;
  opacity: 0.8;
}
.p-attending__ttl--img {
  width: 80%;
  margin-bottom: 30px;
}
.p-attending__contents-list > li {
  display: table;
  width: 86%;
  margin: -8px auto 0;
  padding: 30px 0 30px 70px;
  background-color: #FEF5E0;
  border-radius: 10px;
}
.p-attending__contents-list > li:first-child {
  margin-top: 0;
}
.p-attending__contents-left {
  display: table-cell;
  vertical-align: middle;
}
.p-attending__contents-left--txt {
  margin-top: 10px;
  font-weight: bold;
}
.p-attending__contents-right {
  margin-left: 50px;
  text-align: left;
}
.p-attending__contents-right__ttl {
  font-weight: bold;
}
.p-attending__contents-right__ttl-supplement {
  margin: 20px 0;
  font-weight: bold;
}
.p-attending__contents-right__txt {
  /* font-size: 3vw; */
}
.p-attending__contents-right__txt-contents {
  margin: 20px 0;
}
.p-attending__contents-right__txt-supplement {
  font-weight: bold;
}
.p-attending__contents-right__support {
  margin-top: 10px;
  font-weight: bold;
}
.p-attending__contents-right__attention {
  margin-top: 15px;
}


/* p-place */


.p-place__bg {
  padding: 50px 0;
  background-image: url(img/bangkokbg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.p-place {
  width: 85%;
  margin: auto;
  padding: 40px 0;
  color: #FFF;
}
.p-place__ttl {
  font-weight: bold;
  font-size: 25px;
}
.p-place__ttl--txt {
  margin-top: 20px;
}
.p-place__merit-list {
  padding-left: 0;
  list-style: none;
}
.p-place__merit-list > li {
  margin-top: 20px;
  font-weight: bold;
}
.p-place__merit-txt {
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
}


/* p-benefit */


.p-benefit {
  padding: 50px 0;
  text-align: center;
  background-color: #F7C23C;
}
.p-benefit__ttl {
  font-weight: bold;
  font-size: 30px;
  opacity: 0.8;
}
.p-benefit__ttl--txt {
  margin-top: 35px;
}
.p-benefit__ttl--span {
  color: #FFF;
  font-weight: bold;
}
.p-benefit__merit-list {
  position: relative;
  width: 80%;
  padding: 35px 40px 50px;
  margin: 130px auto 0;
  border: 2px solid #FFF;
  list-style: none;
}
.p-benefit__merit-listTop {
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  width: 53%;
  background-color: #F7C23C;
  font-weight: bold;
  font-size: 30px;
}
.p-benefit__merit-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.p-benefit__merit-list > li {
  margin-top: 25px;
  width: 270px;
  height: 255px;
  border-radius: 50%;
  background-color: #FFF;
}
.p-benefit__merit-list--ttl {
  margin-top: 50px;
  font-size: 25px;
  color: #F7C23C;
}
.p-benefit__merit-list--ttl-pc {
  margin-top: 50px;
}
.p-benefit__merit-list--txt-pc {
  margin-top: 10px;
  color: #000;
  text-align: center;
  font-size: 15px;
}
.p-benefit__merit-list--txt-sp {
  display: none;
}


/* p-noVolunteer */


.p-noVolunteer {
  padding: 50px 0;
  color: #FFF;
  text-align: center;
  background-image: url(img/specialdetail.jpg);
  background-size: 100%;
}
.p-noVolunteer__ttl {
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 30px;
}
.p-noVolunteer__mainTtl {
  position: relative;
  padding: 30px 0;
  width: 65%;
  margin: auto;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
}
.p-noVolunteer__mainTtl:before,
.p-noVolunteer__mainTtl:after {
  content: '';
	width: 50px;
	height: 50px;
	position: absolute;
}
.p-noVolunteer__mainTtl:before {
  border-left: solid 4px #FFF;
	border-top: solid 4px #FFF;
	top: 0;
	left: 0;
}
.p-noVolunteer__mainTtl:after {
  border-right: solid 4px #FFF;
	border-bottom: solid 4px #FFF;
	bottom: 0;
	right: 0;
}
.p-noVolunteer__ttl--txt,
.p-noVolunteer__mainTtl--txt {
  font-weight: bold;
  font-size: 20px;
}


/* p-message */


.p-message {
  padding: 60px 0;
}
.p-messageTop {
  text-align: center;
  padding-bottom: 10px;
}
.p-messageTop__ttl {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 30px;
}
.p-messageTop__txt {
  font-weight: bold;
  font-size: 20px;
  opacity: 0.8;
}
.p-messageBottom {
  padding: 30px 0;
  display: flex;
  width: 65%;
  margin: auto;
}
.p-messageBottom__left--img {
  width: 200px;
  height: 150px;
}
.p-messageBottom__right {
  margin-left: 30px;
  font-size: 14px;
  opacity: 0.8;
}
.p-messageBottom__list {
  margin-top: 20px;
  padding-left: 0;
  list-style: none;
}
.p-messageBottom__txt {
  margin-top: 20px;
}


/* c-claim */


.c-claim {
  padding: 40px 0;
  background-color: #EBB94D;
}
.c-claim__ttl,
.c-claim__txt {
  text-align: center;
}
.c-claim__ttl {
  font-weight: bold;
  font-size: 28px;
  opacity: 0.7;
}
.c-claim__txt {
  margin: 17px 0 30px;
  font-weight: bold;
  letter-spacing: 2px;
  opacity: 0.7;
}
.c-claim__txt--form {
  text-align: center;
}
.c-claim__inputTxt {
  margin-top: 20px;
}
.c-claim__input {
  width: 58%;
  padding: 15px 1%;
  border-radius: 5px;
  border: none;
}
.c-claim__inputTxt--coment {
  width: 60%;
  margin: 40px auto;
  border-radius: 10px;
}
.c-claim__inputTxt--coment-txtarea {
  width: 100%;
  height: 95px;
  border-radius: 5px;
  border: none;
}
.c-claim__txtButton {
  width: 60%;
  height: 55px;
  margin: auto;
  border-radius: 30px;
  background-color: #DA6B64;
  color: #FFF;
  line-height: 56px;
  font-size: 25px;
  font-weight: bold;
  letter-spacing:1em;
  text-align:center;
  text-indent:1em;
}


/* p-lastQuestion */


.p-lastQuestion {
  padding: 40px 0;
}
.p-lastQuestion__ttl {
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}
.p-lastQuestion__list {
  padding-left: 0;
  list-style: none;
}
.p-lastQuestion__list > li {
  position: relative;
  width: 80%;
  padding: 10px;
  margin: 10px auto 0;
  border: 4px solid #EFEFEF;
  font-weight: bold;
}
.fa-question-circle {
  color: #016EA9;
}
.toggle {
  display: block;
}
.toggle:hover {
  cursor: pointer;
  text-decoration: underline;
}
.toggle::after {
  position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -14px;
    content: '>';
    /* font-size: 14px; */
    font-weight: bold;
    color: #E5E5E5;
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -moz-transition: all, 0.25s, linear;
    -o-transition: all, 0.25s, linear;
    -webkit-transition: all, 0.25s, linear;
    transition: all, 0.25s, linear;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -20px;
    margin: auto 0;
    height: 16px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto 0;
    height: 16px;
}
/* .toggle.active:after {
    -moz-transform: translate(0, 50%);
    -ms-transform: translate(0, 50%);
    -webkit-transform: translate(0, 50%);
    transform: translate(0, 50%);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
} */
.inner {
  display: none;
  margin: 20px 0;
  /* font-size: 3.3vw; */
}


/* footer */


.p-copyRight {
  padding: 20px 0 10px;
  background-color: #ECECEC;
  text-align: center;
}
.p-copyRight__top,
.p-copyRight__bottom {
  font-size: 11px;
  opacity: 0.6;
}
.p-footer__sns {
  display: flex;
  justify-content: center;
  margin: 15px 0 25px;
  padding-left: 0;
  list-style: none;
}
.p-copyRight--span {
  color: #6A9CC7;
}
.p-return__btn::after {
  position: fixed;
  bottom: 25px;
  right: 15px;
  padding: 15px 20px;
  background-color: #ECECEC;
  content: '>';
  font-weight: bold;
  color: #000;
  transform: rotate(-90deg);
}

}